Package: com.ryannair05.textyle
Name: Textyle 2
Depends: mobilesubstrate, com.spark.libsparkapplist, com.rpetrich.rocketbootstrap, firmware (>=13.0)
Conflicts: com.d11z.textyle
Version: 1.0.0
Architecture: iphoneos-arm
Description: Quickly style any text
Maintainer: Ryan Nair
Author: Ryan Nair and Deniz Basegmez
Section: Tweaks
Icon: file:///Library/PreferenceBundles/Textyle.bundle/cydia.png
